.contact-area{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 85%;
    z-index: 999999;
    display: block;
}

.contact-txt{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
}
.contact-txt::after{
    content: 'Contact';
    display: block;
    
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
.contact-box{
    position: absolute;
    right: 0;
    
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .5s;
}
.contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.contact-hidden{
    opacity: 0;
    width: 0%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    border-radius: 30px;
    background-color: transparent;
    display: inline-block;
    
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0rem;
    font-weight: 400;

    transition: all .5s;
}

/* contact-hidden 에 호버시*/

.contact-txt:hover::after{
    content: '메일 환영합니다! 평일기준 2일 내로 답장 드리겠습니다.';
    display: block;
    
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    left: -250px;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
}

.contact-box.on{
    position: absolute;
    right: 0;
    width: 480px;
    height: 80px;
    border-radius: 20px;
    background-color: #00b1ff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .5s;
}

.contact-box.on .contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.contact-box.on .contact-hidden{
    opacity: 1;
    display: inline-block;
    width: 70%;
    margin-top: 20px;
    padding: 5px 0 10px 0;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    
    transition: all .5s;
}











