.contact-area{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 85%;
    z-index: 999999;
    display: block;
}

.contact-box{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all 1s;
}

.contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    display: block;
    width: 80px;
    height: 80px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    line-height: 15;
}

.contact-box .contact-hidden{
    opacity: 0;
    transition: all 1s;
    
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0rem;
    font-weight: 400;
    width: 0%;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    background-color: transparent;
}

/* contact-hidden 에 호버시*/

.contact-box.on{
    box-sizing: border-box;
    width: 550px;
    height: 80px;
    border-radius: 20px;
    background-color: #00b1ff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all 1s;
}
.contact-box.on .contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 13;
}

.contact-box.on .contact-hidden{
    opacity: 1;
    transition: all 1s;
    
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    
    width: 70%;
    padding: 5px 0 10px 0;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}











