$form-height : 2.4rem;
$blue-dark : #07042e;
$blue : #512aff;
$blue-l1 : #8d8dd8;
$blue-l2 : #B8B8FF;

#root{
    & .content{
        position: relative;
        z-index: 50;
        text-align: center;
        padding: 20rem 0;
        overflow: hidden;
        transition: all .5s;
        // &.on{
        //     opacity: 1;
        // }
        // &.off{
        //     transform: translateY(-100rem);
        // }
        &.scrollTopDown{
            opacity: 1;
            transform: none;
        }
        &.scrollTopUp{
            opacity: 0;
            transform: translateY(100rem);
        }
        &.scrollBottomDown{
            opacity: 0;
            transform: translateY(-100rem);
        }
        &.scrollBottomUp{
            opacity: 1;
            transform: none;
        }
        //로켓 날개
        &::before, &::after{
            content: '';
            display: block;
            background: linear-gradient(gray, white);
            width: 50vw;
            height: 90rem;
            position: absolute;
            top: 30%;
            border-radius: 20px;
        }
        &::before{
            left: 13%;
            transform: rotate(15deg);
            border-bottom-right-radius: 100rem;
        }
        &::after{
            right: 13%;
            transform: rotate(-15deg);
            border-bottom-left-radius: 100rem;
        }

        & #rocket{
            background-color: white;
            //box-shadow: inset 0 0 10px gray;
            z-index: 10; /*  로켓날개 때문에 z-index 설정함*/
            position: relative;
            border-radius: 100rem;
            width: 60%;
            display: inline-block;
            overflow: hidden;

            //로켓 머리
            & .rocket-head{
                & .head{
                    border-bottom: 20px solid gray;
                    height: 20rem;
                    background-color: #D9272E;
                }
                & .window-wrap{
                    padding: 7rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                    align-items: center;
                    justify-content: center;
                    & p{
                        &:nth-of-type(1){
                            font-family: 'Lobster', cursive;
                            font-size: 3rem;
                            font-weight: 100;
                        }
                        &:nth-of-type(2){
                            color: $blue-dark;
                            font-size: 1.3rem;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }
                        &:nth-of-type(3),&:nth-of-type(4){
                            margin: .2rem 0;
                        }
                        &:nth-of-type(5){
                            margin-top: 1rem;
                            display: block;
                            width: 40%;
                            opacity: .6;
                            line-height: 1.4;
                        }
                    }
                    & .window{
                        border: 20px solid $blue-l2;
                        width: 12rem;
                        height: 12rem;
                        border-radius: 100rem;
                        background-image: url('../img/profile.png');
                        background-size: cover;
                        margin-bottom: 1rem;
                    }
                }
            }
            //로켓 바디
            & .rocket-body{
                padding: 50px 20%;
                //탭메뉴
                & .p_menu{
                    width: 100%;
                    margin : 3rem 0 5rem 0;
                    display: flex;
                    text-align: center;
                    gap: 10px;
                    & li{
                        width: 100%;
                        height: $form-height;
                        border-radius: 100rem;
                        background: $blue-l2;
                        position: relative;
                        overflow: hidden;
                        transition: all .3s;
                        // &::before{
                        //     content: '';
                        //     border-radius: 100rem;
                        //     background: red;
                        //     display: block;
                        //     position: absolute;
                        //     top: 0;
                        //     bottom: 0;
                        //     left: 0;
                        //     width: 0%;
                        //     transition: all .3s;
                        // }
                        //클릭시
                        &.on{
                            //animation: backcolor 6s infinite;
                            background: $blue-dark;
                            box-shadow: -2px 6px 20px 5px rgba($blue-dark, 0.2);
                            &:hover{
                                background: $blue-dark;
                            }
                        }
                        //호버시
                        &:hover{
                            background: $blue-l1;
                        }
                        & a{
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;

                            color: white;
                            font-size: 1rem;
                            line-height: $form-height;
                            font-weight: 600;
                            transition: all .3s;
                        }
                    }
                }
                //탭바디
                & .p_list{
                    text-align: left;
                    margin-bottom: 100px;
                    & ul{
                        display: none;
                        &.on{
                            display: block;
                        }
                        & li{
                            //border: 1px solid red;
                            padding : 3rem 0;
                            border-bottom: 1px solid rgb(240, 240, 240);
                            &::after{
                                content:"";
                                clear:both;
                                display:block;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            //그림
                            & .page-pic{
                                float: right;
                                position: relative;
                                width: 45%;
                                height: 200px;
                                & .portImg{
                                    box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    border-radius: 20px;
                                    overflow: hidden;
                                    transition: all .5s;
                                    & .img{
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        background-position: top center;
                                        
                                        width: 100%;
                                        height: 100%;
                                    }
                                    & .more{
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        z-index: 100;
                                        background-color: transparent;
                                        transition: all .5s;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        &::after{
                                            content: 'MORE';
                                            display: block;
                                            color: transparent;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translateX(-50%) translateY(-50%);
                                            transition: all .5s;
                                        
                                            font-family: 'Noto Sans KR', sans-serif;
                                            font-size: 4rem;
                                            font-stretch: expanded;
                                            font-weight: 500;
                                        }
                                    }
                                    &:hover{
                                        transform: scale(1.1);
                                        box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
                                        transition: all .5s;
                                        & .more{
                                            background-color: rgba(0,0,0,0.7);
                                        }
                                        & .more::after{
                                            color: yellow;
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                            //설명
                            & .page-info{
                                float: left;
                                position: relative;
                                width: 40%;
                                height: 100%;
                                & *{
                                    display: block;
                                    margin-bottom: 10px;
                                    font-family: 'Noto Sans KR', sans-serif;
                                }
                                & h4{
                                    color: $blue;
                                    font-weight: 600;
                                    margin-bottom: 15px;
                                }
                                & h3{
                                    font-size: 2rem;
                                    color: $blue-dark;
                                    font-weight: 600;
                                    letter-spacing: -1px;
                                    word-spacing: 2px;
                                }
                                & p{
                                    opacity: .6;
                                    &:nth-of-type(1){
                                        line-height: 1.4;
                                        margin: 2rem 0;
                                        word-break: keep-all;
                                    }
                                    &:last-of-type{
                                        font-weight: 600;
                                    }
                                }
                                & .page-btn{
                                    width: 100%;
                                    margin-top: 30px;
                                    & a{
                                        display: inline-block;
                                        width: 40%;
                                        height: $form-height;
                                        text-align: center;
                                        margin: 0 10px 10px 0;
                                        border-radius: 100rem;
                                        background-color: lightgray;
                                        opacity: .8;
                                        transition: all .2s;
                                        
                                        line-height: $form-height;
                                        &:hover{
                                            background-color: rgb(173, 173, 173);
                                        }
                                        & span{
                                            display: block;
                                            border: 1px solid red;
                                        }
                                    }
                                }
                            }
                            //클릭시 팝업
                            & .page-more{
                                position: fixed;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                z-index: 9999;
                                background-color: rgba(0,0,0,0.9);
                                overflow: scroll;
                                &.hidden{
                                    position: none;
                                    z-index: 100;
                                }
                                & .more-wrap{
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 200;
                                    & .more-close{
                                        position: absolute;
                                        left: 80%;
                                        margin-top: 60px;
                                        width: 40px;
                                        height: 40px;
                                        & .more-close-btn{
                                            width: 100%;
                                            height: 100%;
                                            border: none;
                                            background-color: transparent;
                                            cursor: pointer;
                                            font-size: 0;
                                            & i{
                                                color: white;
                                                font-size: 2rem;
                                            }
                                        }
                                    }
                                    & .more-img{
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        margin: 100px 0 ;
                                        width: 60%;
                                        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
                                        & img{
                                            width: 100%;
                                            box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
                                        }
                                        & img+img{ margin-top: 30px; }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            //탭 아웃트로
            & .rocket-end{
                padding: 3rem;
                margin-top: 5rem;
                background-color: $blue-l1;
                position: relative;
                border-bottom: 5rem solid gray;
            }
        }
        & .rocket-tail{
            position: relative;
            width: 100%;
            &::before, &::after{
                content: '';
                display: block;
                background: linear-gradient(gray, white);
                width: 25%;
                height: 20rem;
                position: absolute;
                top: -10rem;
                border-radius: 20px;
            }
            &::before{
                right: 50%;
                transform: rotate(-10deg) translate(0, -50%);
                border-top-left-radius: 100rem;
            }
            &::after{
                left: 50%;
                transform: rotate(10deg) translate(0, -50%);
                border-top-right-radius: 100rem;
            }
        }
        & .rocket-tail-front{
            z-index: 10;
            position: relative;
            width: 100%;
            &::before{
                content: '';
                width: 5rem;
                height: 25rem;
                display: block;
                background: linear-gradient(white, gray);
                border-radius: 100rem;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -90%);
            }
        }
    }
}


/*-----------------*/
/* 이미지 모음 */
/*-----------------*/
.img{
    &.img1{
        background-image: url(../img/29cm.PNG);
    }
    &.img2{
        background-image: url(../img/kakaobank.PNG);
    }
    &.img3{
        background-image: url(../img/kakao.jpg);
    }
    &.img4{
        background-image: url(../img/naver.PNG);
    }
    &.img5{
        background-image: url(../img/ed.PNG);
    }
    &.img6{
        background-image: url(../img/portfolio/p14.png);
    }
    &.img7{
        background-image: url(../img/portfolio/p21.png);
    }
    &.img8{
        background-image: url(../img/portfolio/p27.png);
    }
    &.img9{
        background-image: url(../img/portfolio/p5.png);
    }
    &.img10{
        background-image: url(../img/portfolio/p9.png);
    }
    &.img11{
        background-image: url(../img/portfolio/p34.png);
    }
    &.img12{
        background-image: url(../img/portfolio/p35.png);
    }
    &.img13{
        background-image: url(../img/portfolio/p36.png);
    }
    &.img14{
        background-image: url(../img/portfolio/p37.png);
    }
    &.img15{
        background-image: url(../img/portfolio/p38.png);
    }
}
