@charset "UTF-8";
#root .content {
  position: relative;
  z-index: 50;
  opacity: 0;
  text-align: center;
  padding-top: 20rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content.on {
  opacity: 1;
}

#root .content.on::before, #root .content.on::after {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white));
  background: linear-gradient(gray, white);
  width: 30rem;
  height: 90rem;
  position: absolute;
  top: 20%;
}

#root .content.on::before {
  left: calc(20% - 10rem);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border-radius: 20px 20px 100rem 20px;
}

#root .content.on::after {
  right: calc(20% - 10rem);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  border-radius: 20px 20px 20px 100rem;
}

#root .content #portfolio {
  background-color: white;
  z-index: 10;
  /*  content.on::after 버튼 때문에 z-index 설정함*/
  position: relative;
  margin-top: -15px;
  border-radius: 100rem 100rem 30px 30px;
  width: 60%;
  display: inline-block;
  overflow: hidden;
}

#root .content #portfolio .rocket-head .head {
  border-bottom: 20px solid gray;
  height: 20rem;
  background-color: #D9272E;
}

#root .content #portfolio .rocket-head .window-wrap {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .content #portfolio .rocket-head .window-wrap .window {
  border: 20px solid #b8b8ff;
  width: 12rem;
  height: 12rem;
  border-radius: 100rem;
  background-image: url("../img/profile.png");
  background-size: cover;
}

#root .content #portfolio .rocket-body {
  padding: 50px 20%;
}

#root .content #portfolio .rocket-body .p_menu {
  width: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#root .content #portfolio .rocket-body .p_menu li {
  width: 100%;
}

#root .content #portfolio .rocket-body .p_menu li.on a {
  background-color: #00b1ff;
  -webkit-animation: backcolor 6s infinite;
          animation: backcolor 6s infinite;
}

#root .content #portfolio .rocket-body .p_menu li.on a:hover {
  color: black;
}

#root .content #portfolio .rocket-body .p_menu li a {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border-radius: 50px;
  display: block;
  width: 100%;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 50px;
  font-weight: 800;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#root .content #portfolio .rocket-body .p_menu li a:hover {
  background-color: black;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#root .content #portfolio .rocket-body .p_menu li + li {
  margin-left: 10px;
}

#root .content #portfolio .rocket-body .p_list {
  text-align: left;
  margin-bottom: 100px;
}

#root .content #portfolio .rocket-body .p_list ul {
  display: none;
}

#root .content #portfolio .rocket-body .p_list ul.on {
  display: block;
}

#root .content #portfolio .rocket-body .p_list ul li {
  width: 100%;
  height: 200px;
  padding: 10% 0;
  border-bottom: 1px solid #f0f0f0;
}

#root .content #portfolio .rocket-body .p_list ul li::after {
  content: "";
  clear: both;
  display: block;
}

#root .content #portfolio .rocket-body .p_list ul li:last-child {
  border-bottom: none;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic {
  float: right;
  position: relative;
  width: 45%;
  height: 100%;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg {
  -webkit-box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
          box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg .more {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg .more::after {
  content: 'MORE';
  display: block;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4rem;
  font-stretch: expanded;
  font-weight: 500;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
          box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg:hover .more {
  background-color: rgba(0, 0, 0, 0.7);
}

#root .content #portfolio .rocket-body .p_list ul li .page-pic .portImg:hover .more::after {
  color: yellow;
  font-size: 2rem;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info {
  float: left;
  position: relative;
  width: 40%;
  height: 100%;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 20px;
  width: 5px;
  height: 60px;
  background-color: black;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  color: #00b1ff;
  font-weight: 600;
  margin-bottom: 15px;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 1.2;
  margin-bottom: 20px;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info .page-btn {
  width: 100%;
  margin-top: 30px;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info .page-btn a {
  display: inline-block;
  width: 40%;
  padding: 10px 0;
  text-align: center;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  background-color: lightgray;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
}

#root .content #portfolio .rocket-body .p_list ul li .page-info .page-btn a:hover {
  background-color: gray;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: scroll;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more.hidden {
  position: none;
  z-index: 100;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-close {
  position: absolute;
  left: 80%;
  margin-top: 60px;
  width: 40px;
  height: 40px;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-close .more-close-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-close .more-close-btn i {
  color: white;
  font-size: 2rem;
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 100px 0;
  width: 60%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-img img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#root .content #portfolio .rocket-body .p_list ul li .page-more .more-wrap .more-img img + img {
  margin-top: 30px;
}

#root .content #portfolio .rocket-tail {
  width: 100%;
  padding: 5px 0;
  margin-top: 100px;
  background-color: gray;
  border-radius: 50px;
}

#root .content #aboutMe {
  display: inline-block;
  margin: -28px 0 800px 0;
  width: 60%;
  padding: 100px 5%;
  border-radius: 50px;
  border: 10px solid black;
  background-color: black;
  /* ---프로파일 (내사진, 이름 한마디)--- */
  /* ---프로파일 (내사진, 이름 한마디)--- */
}

#root .content #aboutMe * {
  color: white;
  text-align: left;
}

#root .content #aboutMe .a_profile {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

#root .content #aboutMe .a_profile .myPic {
  width: 100%;
  height: 300px;
  /*  반응형에선 높이가 달라짐  */
  background-image: url(../img/cat.gif);
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
}

#root .content #aboutMe .a_profile .myPic .myName {
  position: absolute;
  bottom: 0;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#root .content #aboutMe .a_profile .myPic .myName p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 5px;
}

#root .content #aboutMe .a_profile .myPic .myName p:last-child {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2;
  color: lightgray;
}

#root .content #aboutMe .a_profile .myWord img {
  width: 50px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#root .content #aboutMe .a_profile .myWord p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

#root .content #aboutMe .a_profile .myWord strong {
  -webkit-animation: backcolor 6s infinite;
          animation: backcolor 6s infinite;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

#root .content #aboutMe .a_info {
  display: inline-block;
  width: 48%;
  padding-left: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root .content #aboutMe .a_info ul + ul {
  margin-top: 40px;
}

#root .content #aboutMe .a_info ul {
  position: relative;
}

#root .content #aboutMe .a_info ul::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 0px;
  width: 5px;
  height: 40px;
  background-color: white;
}

#root .content #aboutMe .a_info ul h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#root .content #aboutMe .a_info ul li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  line-height: 1.5;
  color: gray;
}

#root .content #aboutMe .a_info ul li h4 {
  margin-right: 20px;
  font-weight: bold;
  opacity: .8;
}

#root .content #aboutMe .a_info ul li p {
  opacity: .6;
}

#root .content #aboutMe .a_info .my_study span {
  color: gray;
  margin-right: 20px;
}

/*-----------------*/
/* 이미지 모음 */
/*-----------------*/
.img.img1 {
  background-image: url(../img/29cm.PNG);
}

.img.img2 {
  background-image: url(../img/kakaobank.PNG);
}

.img.img3 {
  background-image: url(../img/kakao.jpg);
}

.img.img4 {
  background-image: url(../img/naver.PNG);
}

.img.img5 {
  background-image: url(../img/ed.PNG);
}

.img.img6 {
  background-image: url(../img/portfolio/p14.png);
}

.img.img7 {
  background-image: url(../img/portfolio/p21.png);
}

.img.img8 {
  background-image: url(../img/portfolio/p27.png);
}

.img.img9 {
  background-image: url(../img/portfolio/p5.png);
}

.img.img10 {
  background-image: url(../img/portfolio/p9.png);
}

.img.img11 {
  background-image: url(../img/portfolio/p34.png);
}

.img.img12 {
  background-image: url(../img/portfolio/p35.png);
}

.img.img13 {
  background-image: url(../img/portfolio/p36.png);
}

.img.img14 {
  background-image: url(../img/portfolio/p37.png);
}

.img.img15 {
  background-image: url(../img/portfolio/p38.png);
}
