@charset "UTF-8";
#root .content {
  position: relative;
  z-index: 50;
  text-align: center;
  padding: 20rem 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content.scrollTopDown {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

#root .content.scrollTopUp {
  opacity: 0;
  -webkit-transform: translateY(100rem);
          transform: translateY(100rem);
}

#root .content.scrollBottomDown {
  opacity: 0;
  -webkit-transform: translateY(-100rem);
          transform: translateY(-100rem);
}

#root .content.scrollBottomUp {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

#root .content::before, #root .content::after {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white));
  background: linear-gradient(gray, white);
  width: 50vw;
  height: 90rem;
  position: absolute;
  top: 30%;
  border-radius: 20px;
}

#root .content::before {
  left: 13%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border-bottom-right-radius: 100rem;
}

#root .content::after {
  right: 13%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  border-bottom-left-radius: 100rem;
}

#root .content #rocket {
  background-color: white;
  z-index: 10;
  /*  로켓날개 때문에 z-index 설정함*/
  position: relative;
  border-radius: 100rem;
  width: 60%;
  display: inline-block;
  overflow: hidden;
}

#root .content #rocket .rocket-head .head {
  border-bottom: 20px solid gray;
  height: 20rem;
  background-color: #D9272E;
}

#root .content #rocket .rocket-head .window-wrap {
  padding: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .content #rocket .rocket-head .window-wrap p:nth-of-type(1) {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 100;
}

#root .content #rocket .rocket-head .window-wrap p:nth-of-type(2) {
  color: #07042e;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#root .content #rocket .rocket-head .window-wrap p:nth-of-type(3), #root .content #rocket .rocket-head .window-wrap p:nth-of-type(4) {
  margin: .2rem 0;
}

#root .content #rocket .rocket-head .window-wrap p:nth-of-type(5) {
  margin-top: 1rem;
  display: block;
  width: 40%;
  opacity: .6;
  line-height: 1.4;
}

#root .content #rocket .rocket-head .window-wrap .window {
  border: 20px solid #B8B8FF;
  width: 12rem;
  height: 12rem;
  border-radius: 100rem;
  background-image: url("../img/profile.png");
  background-size: cover;
  margin-bottom: 1rem;
}

#root .content #rocket .rocket-body {
  padding: 50px 20%;
}

#root .content #rocket .rocket-body .p_menu {
  width: 100%;
  margin: 3rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 10px;
}

#root .content #rocket .rocket-body .p_menu li {
  width: 100%;
  height: 2.4rem;
  border-radius: 100rem;
  background: #B8B8FF;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#root .content #rocket .rocket-body .p_menu li.on {
  background: #07042e;
  -webkit-box-shadow: -2px 6px 20px 5px rgba(7, 4, 46, 0.2);
          box-shadow: -2px 6px 20px 5px rgba(7, 4, 46, 0.2);
}

#root .content #rocket .rocket-body .p_menu li.on:hover {
  background: #07042e;
}

#root .content #rocket .rocket-body .p_menu li:hover {
  background: #8d8dd8;
}

#root .content #rocket .rocket-body .p_menu li a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  line-height: 2.4rem;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#root .content #rocket .rocket-body .p_list {
  text-align: left;
  margin-bottom: 100px;
}

#root .content #rocket .rocket-body .p_list ul {
  display: none;
}

#root .content #rocket .rocket-body .p_list ul.on {
  display: block;
}

#root .content #rocket .rocket-body .p_list ul li {
  padding: 3rem 0;
  border-bottom: 1px solid #f0f0f0;
}

#root .content #rocket .rocket-body .p_list ul li::after {
  content: "";
  clear: both;
  display: block;
}

#root .content #rocket .rocket-body .p_list ul li:last-child {
  border-bottom: none;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic {
  float: right;
  position: relative;
  width: 45%;
  height: 200px;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg {
  -webkit-box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
          box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg .more {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg .more::after {
  content: 'MORE';
  display: block;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4rem;
  font-stretch: expanded;
  font-weight: 500;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
          box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg:hover .more {
  background-color: rgba(0, 0, 0, 0.7);
}

#root .content #rocket .rocket-body .p_list ul li .page-pic .portImg:hover .more::after {
  color: yellow;
  font-size: 2rem;
}

#root .content #rocket .rocket-body .p_list ul li .page-info {
  float: left;
  position: relative;
  width: 40%;
  height: 100%;
}

#root .content #rocket .rocket-body .p_list ul li .page-info * {
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

#root .content #rocket .rocket-body .p_list ul li .page-info h4 {
  color: #512aff;
  font-weight: 600;
  margin-bottom: 15px;
}

#root .content #rocket .rocket-body .p_list ul li .page-info h3 {
  font-size: 2rem;
  color: #07042e;
  font-weight: 600;
  letter-spacing: -1px;
  word-spacing: 2px;
}

#root .content #rocket .rocket-body .p_list ul li .page-info p {
  opacity: .6;
}

#root .content #rocket .rocket-body .p_list ul li .page-info p:nth-of-type(1) {
  line-height: 1.4;
  margin: 2rem 0;
  word-break: keep-all;
}

#root .content #rocket .rocket-body .p_list ul li .page-info p:last-of-type {
  font-weight: 600;
}

#root .content #rocket .rocket-body .p_list ul li .page-info .page-btn {
  width: 100%;
  margin-top: 30px;
}

#root .content #rocket .rocket-body .p_list ul li .page-info .page-btn a {
  display: inline-block;
  width: 40%;
  height: 2.4rem;
  text-align: center;
  margin: 0 10px 10px 0;
  border-radius: 100rem;
  background-color: lightgray;
  opacity: .8;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 2.4rem;
}

#root .content #rocket .rocket-body .p_list ul li .page-info .page-btn a:hover {
  background-color: #adadad;
}

#root .content #rocket .rocket-body .p_list ul li .page-info .page-btn a span {
  display: block;
  border: 1px solid red;
}

#root .content #rocket .rocket-body .p_list ul li .page-more {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: scroll;
}

#root .content #rocket .rocket-body .p_list ul li .page-more.hidden {
  position: none;
  z-index: 100;
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-close {
  position: absolute;
  left: 80%;
  margin-top: 60px;
  width: 40px;
  height: 40px;
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-close .more-close-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-close .more-close-btn i {
  color: white;
  font-size: 2rem;
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 100px 0;
  width: 60%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-img img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#root .content #rocket .rocket-body .p_list ul li .page-more .more-wrap .more-img img + img {
  margin-top: 30px;
}

#root .content #rocket .rocket-end {
  padding: 3rem;
  margin-top: 5rem;
  background-color: #8d8dd8;
  position: relative;
  border-bottom: 5rem solid gray;
}

#root .content .rocket-tail {
  position: relative;
  width: 100%;
}

#root .content .rocket-tail::before, #root .content .rocket-tail::after {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(white));
  background: linear-gradient(gray, white);
  width: 25%;
  height: 20rem;
  position: absolute;
  top: -10rem;
  border-radius: 20px;
}

#root .content .rocket-tail::before {
  right: 50%;
  -webkit-transform: rotate(-10deg) translate(0, -50%);
          transform: rotate(-10deg) translate(0, -50%);
  border-top-left-radius: 100rem;
}

#root .content .rocket-tail::after {
  left: 50%;
  -webkit-transform: rotate(10deg) translate(0, -50%);
          transform: rotate(10deg) translate(0, -50%);
  border-top-right-radius: 100rem;
}

#root .content .rocket-tail-front {
  z-index: 10;
  position: relative;
  width: 100%;
}

#root .content .rocket-tail-front::before {
  content: '';
  width: 5rem;
  height: 25rem;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background: linear-gradient(white, gray);
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}

/*-----------------*/
/* 이미지 모음 */
/*-----------------*/
.img.img1 {
  background-image: url(../img/29cm.PNG);
}

.img.img2 {
  background-image: url(../img/kakaobank.PNG);
}

.img.img3 {
  background-image: url(../img/kakao.jpg);
}

.img.img4 {
  background-image: url(../img/naver.PNG);
}

.img.img5 {
  background-image: url(../img/ed.PNG);
}

.img.img6 {
  background-image: url(../img/portfolio/p14.png);
}

.img.img7 {
  background-image: url(../img/portfolio/p21.png);
}

.img.img8 {
  background-image: url(../img/portfolio/p27.png);
}

.img.img9 {
  background-image: url(../img/portfolio/p5.png);
}

.img.img10 {
  background-image: url(../img/portfolio/p9.png);
}

.img.img11 {
  background-image: url(../img/portfolio/p34.png);
}

.img.img12 {
  background-image: url(../img/portfolio/p35.png);
}

.img.img13 {
  background-image: url(../img/portfolio/p36.png);
}

.img.img14 {
  background-image: url(../img/portfolio/p37.png);
}

.img.img15 {
  background-image: url(../img/portfolio/p38.png);
}
