.content{
    background-color: #F5F6F9;

    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .5s;
}

.content.on{
    background-color: #F5F6F9;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all .5s;
}
.c_title{
    z-index: -1;
    height: 170px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
.c_title h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.c_title h4{
    text-transform: uppercase;
    color: #ECEDEF;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 8rem;
    font-weight: 600;
}

.c_page{
    background-color: white;
    z-index: 10;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px -10px 20px 10px #ECEDEF;
    padding: 50px 10%;
    width: 50%;
    margin: 0 auto;
}





.p_title{
    width: 100%;
    height: 50px;
    margin : 30px 0;
    
    display: flex;
    text-align: center;
}
.p_title li{
    background-color: white;
    border-radius: 50px;
    width: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}
.p_title li.on{
    background-color: #00b1ff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}
.p_title li+li{
    margin-left: 10px;
}
.p_title li a{
    padding: 15px 20px;
    
    text-transform: uppercase;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 50px;
    font-weight: 800;
}




.p_page li{
    width: 100%;
/* 높이는 미디어쿼리마다 바뀜   */
    height: 250px;
}
.p_page li::after {           content:"";
    clear:both;
    display:block;
}

.p_page li{
    padding : 5% 0;
    border-bottom: 1px solid lightgray;
}
.p_page li:last-child{
    border-bottom: none;
}

/*-----------------*/
/* ----레프트------ */
/*-----------------*/
.p_page .left{
    float: left;
    position: relative;
    width: 40%;
    height: 100%;
}
.p_page .left::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 20px;
    width: 5px;
    height: 60px;
    background-color: black;
}

.p_page .left h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #00b1ff;
    font-weight: 600;
    margin-bottom: 15px;
}
.p_page .left h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
}
.p_page .left p:nth-of-type(1){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 1.2;
    margin-bottom: 20px;
}
.p_page .left p:nth-of-type(2){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 1.5;
}
.p_page .left p:nth-of-type(3){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.7rem;
    color: black;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
}


/*-----------------*/
/* ----롸ㅣ이트------ */
/*-----------------*/
.p_page .right{
    float: right;
    position: relative;
    width: 45%;
    height: 100%;
}

.portImg{
    
    box-shadow: 0 30px 60px rgba(17, 20, 39, 0.25);
    
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .5s;
}
/*-----------------*/
/* 이미지 모음 */
/*-----------------*/
.img1{
    background-image: url(../img/29cm.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
    width: 100%;
    height: 100%;
}
.img2{
    background-image: url(../img/kakaobank.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    width: 100%;
    height: 100%;
}
.img3{
    background-image: url(../img/kakao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    width: 100%;
    height: 100%;
}
.img4{
    background-image: url(../img/naver.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    width: 100%;
    height: 100%;
}
.img5{
    background-image: url(../img/ed.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    width: 100%;
    height: 100%;
}


/*-----------------*/
/* 포트이미지에 호버시 */
/*-----------------*/
.portImg:hover{
    transform: scale(1.1);
    box-shadow: 0 30px 80px rgba(17, 20, 39, 0.7);
    transition: all .5s;
}
.portImg:hover .more{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
}
.portImg:hover .more::after{
    display: block;
    content: 'MORE';
    color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .5s;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.portImg .more::after{
    content: 'MORE';
    display: block;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .5s;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    font-stretch: expanded;
    font-weight: 500;
}







