header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 85%;
    z-index: 999999;
}

.header-wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30%;
}
.header-wrap .logo a{
    display: block;
    background-image: url(../img/tjlogo.png);
    background-size: cover;
    width: 210px;
    height: 50px;
    
    text-indent: -999999px;
}
.header-wrap .logo a::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 40px;
    background-color: black;
    
    transform: scaleX(0);
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transition: all .3s;
}
.header-wrap .logo a:hover::after{
    transform: scaleX(1);
    transition: all .3s;
}
.header-wrap>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    width: 200px;
    margin-top: 10px;
}



/* 메뉴들 */
.header-wrap .menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.header-wrap .menu li{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .3s;
}
.header-wrap .menu li:hover{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #00b1ff;
    
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .3s;
}

.header-wrap .myIcon{
    background-image: url(../img/icons.png);
    background-position: 0px 5px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}
.header-wrap .portfolioIcon{
    background-image: url(../img/icons.png);
    background-position: -87px 3px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}
.header-wrap .studyIcon{
    background-image: url(../img/icons.png);
    background-position: -176px 0px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}

.header-wrap .menu a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 15;
    width: 100%;
    height: 100%;
    display: block;
}


.update{
    position: absolute;
    bottom: 10%;
    
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    text-align: center;
}
.update p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
}
.update strong{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    margin: 0 5px;
    font-weight: 900;
    line-height: 40px;
}








