header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 85%;
    z-index: 999999;
}

.header-wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30%;
}
.header-wrap .logo a{
    display: block;
    background-image: url(../img/tjlogo.png);
    background-size: cover;
    width: 210px;
    height: 50px;
    
    text-indent: -999999px;
}
.header-wrap .logo a::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 40px;
    background-color: black;
    
    transform: scaleX(0);
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transition: all .3s;
}
.header-wrap .logo a:hover::after{
    transform: scaleX(1);
    transition: all .3s;
}
.header-wrap>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    width: 200px;
    margin-top: 10px;
}



/* 메뉴들 */
.header-wrap .menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.header-wrap .menu li{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .3s;
}
.header-wrap .menu li:hover{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #00b1ff;
    
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    
    transition: all .3s;
}

.header-wrap .myIcon{
    background-image: url(../img/icons.png);
    background-position: 0px 5px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}
.header-wrap .portfolioIcon{
    background-image: url(../img/icons.png);
    background-position: -87px 3px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}
.header-wrap .studyIcon{
    background-image: url(../img/icons.png);
    background-position: -176px 0px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
}

.header-wrap .menu a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 15;
    width: 100%;
    height: 100%;
    display: block;
}


.update{
    position: absolute;
    bottom: 10%;
    
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    text-align: center;
}
.update p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
}
.update strong{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    margin: 0 5px;
    font-weight: 900;
    line-height: 40px;
}







/*--------------------*/
/*------aisde---------*/
/*--------------------*/


aside{
    z-index: 100;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 85%;
    display: block;
}

.contact-txt{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
}
.contact-txt::after{
    content: 'Contact';
    display: block;

    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
.contact-box{
    position: absolute;
    right: 0;

    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

    transition: all .5s;
}
.contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.contact-hidden{
    opacity: 0;
    width: 0%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    border-radius: 30px;
    background-color: transparent;
    display: inline-block;

    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0rem;
    font-weight: 400;

    transition: all .5s;
}

/* contact-hidden 에 호버시*/

.contact-txt:hover::after{
    content: '메일 환영합니다! 평일기준 2일 내로 답장 드리겠습니다.';
    display: block;

    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    left: -250px;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
}

.contact-box.on{
    position: absolute;
    right: 0;
    width: 480px;
    height: 80px;
    border-radius: 20px;
    background-color: #00b1ff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

    transition: all .5s;
}

.contact-box.on .contact-icon{
    background-image: url(../img/icons.png);
    background-position: -262px -3px;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.contact-box.on .contact-hidden{
    opacity: 1;
    display: inline-block;
    width: 70%;
    margin-top: 20px;
    padding: 5px 0 10px 0;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;

    transition: all .5s;
}




/*---adress-list------*/

.address-list{
    position: absolute;
    bottom: 10%;
    right: 30%;
    display: flex;
}

.address-list li{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
    text-align: center;
    margin-left: 15px;
    transition: all .1s;
}
.address-list a{
    background-repeat: no-repeat;
    background-size: 130px;
    width: 100%;
    height: 100%;
    display: block;
}
.kakao-box a{
    background-image: url(../img/snsIcons.png);
    background-position: -47px 6px;
}
.git-box a{
    background-image: url(../img/snsIcons.png);
    background-position: -97.5px 3px;
}
.notefolio-box a{
    background-image: url(../img/snsIcons.png);
    background-position: 6px 3px;
}
.address-list li:hover{
    transform: scale(1.2);
    transition: all .1s;
}


