@charset "UTF-8";
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* 3. 자주 쓰는 문법  */
.color-brand {
  color: #FF7800;
}

.color-secondary {
  color: #3E66FB;
}

.color-success {
  color: #3ac062;
}

.color-info {
  color: #3bc1ff;
}

.color-warning {
  color: #FFC107;
}

.color-danger {
  color: #ff3333;
}

.color-lightgray {
  color: #DCD9E1;
}

.color-gray {
  color: #A8A7AC;
}

.color-darkgray {
  color: #434245;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.bg-brand {
  background-color: #FF7800;
}

.bg-brand.bg-light {
  background-color: #ffe4cc;
}

.bg-secondary {
  background-color: #3E66FB;
}

.bg-secondary.bg-light {
  background-color: #d8e0fe;
}

.bg-success {
  background-color: #3ac062;
}

.bg-success.bg-light {
  background-color: #d8f2e0;
}

.bg-info {
  background-color: #3bc1ff;
}

.bg-info.bg-light {
  background-color: #d8f3ff;
}

.bg-warning {
  background-color: #FFC107;
}

.bg-warning.bg-light {
  background-color: #fff3cd;
}

.bg-danger {
  background-color: #ff3333;
}

.bg-danger.bg-light {
  background-color: #ffd6d6;
}

.bg-gray {
  background-color: #A8A7AC;
}

.bg-gray.bg-light {
  background-color: #CAC8CF;
}

.bg-lightgray {
  background-color: #DCD9E1;
}

.bg-lightgray.bg-light {
  background-color: #ECEAF2;
}

.bg-darkgray {
  background-color: #434245;
}

.bg-darkgray.bg-light {
  background-color: #656467;
}

/* 3. 자주 쓰는 문법  */
.ws-none {
  white-space: nowrap;
}

.scale-1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scale-2 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.scale-3 {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.scale-4 {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.scale-5 {
  -webkit-transform: scale(5);
          transform: scale(5);
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flx-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flx-full > * {
  width: 100%;
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: .5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.row-top {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: .5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: .5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.flx-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flx-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-right {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flx-left {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.flx-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.flx-bottom {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.flx-top {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.br-0 {
  border-radius: 0px;
}

.br-1 {
  border-radius: .5rem;
}

.br-2 {
  border-radius: 1rem;
}

.br-3 {
  border-radius: 2rem;
}

.br-4 {
  border-radius: 3rem;
}

.br-5 {
  border-radius: 100rem;
}

.min-w-none {
  min-width: unset !important;
}

.max-w-none {
  max-width: unset !important;
}

.min-h-none {
  min-height: unset !important;
}

.max-h-none {
  max-height: unset !important;
}

.show__under-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .show__under-mobile {
    display: block !important;
  }
}

.show__under-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .show__under-tablet {
    display: block !important;
  }
}

.show__under-desktop {
  display: none !important;
}

@media (max-width: 1300px) {
  .show__under-desktop {
    display: block !important;
  }
}

.show__only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .show__only-labtop {
    display: block !important;
  }
}

.show__over-mobile {
  display: block !important;
}

@media (max-width: 570px) {
  .show__over-mobile {
    display: none !important;
  }
}

.mini-box {
  border-radius: 5px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  padding: 1rem;
  background-color: white;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.shadow-big {
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
}

.shadow-small {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
}

@-webkit-keyframes backcolor {
  0% {
    background: #3495fe;
  }
  33% {
    background: #00edac;
  }
  67% {
    background: #b34aff;
  }
  100% {
    background: #3495fe;
  }
}

@keyframes backcolor {
  0% {
    background: #3495fe;
  }
  33% {
    background: #00edac;
  }
  67% {
    background: #b34aff;
  }
  100% {
    background: #3495fe;
  }
}

@-webkit-keyframes space {
  0% {
    background: #07042e;
  }
  33% {
    background: #17125a;
  }
  67% {
    background: #251a23;
  }
  100% {
    background: #07042e;
  }
}

@keyframes space {
  0% {
    background: #07042e;
  }
  33% {
    background: #17125a;
  }
  67% {
    background: #251a23;
  }
  100% {
    background: #07042e;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: .8;
  }
}

@keyframes blink {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: .8;
  }
}

@-webkit-keyframes screenOn {
  0% {
    width: 0px;
    height: 0px;
    border-radius: 20px;
  }
  15% {
    width: 40px;
    height: 30px;
    border-radius: 20px;
  }
  30% {
    width: 0px;
    height: 0px;
    border-radius: 20px;
  }
  50% {
    width: 50px;
    height: 10px;
    border-radius: 20px;
  }
  60% {
    width: 100%;
    height: 20px;
    border-radius: 20px;
  }
  70% {
    width: 100%;
    height: 40px;
    border-radius: 20px;
  }
  80% {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
}

@keyframes screenOn {
  0% {
    width: 0px;
    height: 0px;
    border-radius: 20px;
  }
  15% {
    width: 40px;
    height: 30px;
    border-radius: 20px;
  }
  30% {
    width: 0px;
    height: 0px;
    border-radius: 20px;
  }
  50% {
    width: 50px;
    height: 10px;
    border-radius: 20px;
  }
  60% {
    width: 100%;
    height: 20px;
    border-radius: 20px;
  }
  70% {
    width: 100%;
    height: 40px;
    border-radius: 20px;
  }
  80% {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
}

@-webkit-keyframes scrolling {
  0% {
    margin-top: 15px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}

@keyframes scrolling {
  0% {
    margin-top: 15px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}

@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#root {
  position: relative;
}

#root .intro {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .intro.scrollTopDown {
  top: 300px;
}

#root .intro.scrollTopUp {
  top: 0;
  opacity: 1;
}

#root .intro .scroll-box {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) scale(0.5);
          transform: translateX(-50%) scale(0.5);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

#root .intro .scroll-box .scrollIcon {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 60px;
  border-radius: 50px;
  margin: 0 auto;
}

#root .intro .scroll-box .scrollIcon .scrolling {
  width: 7px;
  height: 18px;
  background-color: white;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-animation: scrolling 1s infinite;
          animation: scrolling 1s infinite;
}

#root .intro .scroll-box .icon-down {
  margin-top: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

#root .intro .phone-box {
  z-index: -1;
  width: 40%;
  height: 70%;
  border-radius: 30px 30px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#07042e));
  background: linear-gradient(white, #07042e);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

#root .intro .phone-box::before, #root .intro .phone-box::after {
  content: '';
  display: block;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

#root .intro .phone-box::before {
  width: 102%;
  height: 50px;
  right: -1%;
  top: 15%;
}

#root .intro .phone-box::after {
  width: 2%;
  height: 80px;
  right: -1%;
  top: 25%;
}

#root .intro .phone-box .phone-screen-box {
  width: 98%;
  height: 92%;
  border-radius: 20px 20px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(gray));
  background: linear-gradient(#2f2f2f, gray);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#root .intro .phone-box .phone-screen-box .phone-screen {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#07042e));
  background: linear-gradient(black, #07042e);
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation-name: screenOn;
          animation-name: screenOn;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

#root .intro .phone-box .phone-screen-box .phone-screen .typing-box {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

#root .intro .phone-box .phone-screen-box .phone-screen .typing-box .typing-txt {
  display: none;
}

#root .intro .phone-box .phone-screen-box .phone-screen .typing-box .typing {
  font-family: 'Lobster', cursive;
  font-size: 5.2rem;
  font-weight: 100;
  line-height: 1.6;
  color: white;
}

#root .intro .phone-box .phone-screen-box .phone-screen .typing-box .typing::after {
  content: '';
  display: none;
  vertical-align: middle;
  background: white;
  opacity: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 3px;
  height: 60px;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#root .intro .phone-box .phone-screen-box .phone-screen .typing-box .typing.end::after {
  display: inline-block;
}

@media (min-width: 758px) and (max-width: 1300px) {
  #root .intro .phone-box {
    width: 70%;
  }
}

#root .back {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  -webkit-animation: space 20s infinite;
          animation: space 20s infinite;
}

#root .back::before {
  content: '';
  width: 100%;
  height: 30rem;
  display: block;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.212)));
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.212));
}

#root .back .clouds {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#root .back .clouds .left {
  position: absolute;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#root .back .clouds .right {
  position: absolute;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#root .back .clouds.moveOut .left {
  -webkit-transform: translateX(-70rem);
          transform: translateX(-70rem);
}

#root .back .clouds.moveOut .right {
  -webkit-transform: translateX(70rem);
          transform: translateX(70rem);
}

#root .back .clouds .img-cloud-1 {
  bottom: 0;
  width: 500px;
  height: 240px;
  position: absolute;
  background: url("../images/cloud_1.png");
  background-size: cover;
}

#root .back .clouds .img-cloud-1.size-s {
  left: 3rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .5;
}

#root .back .clouds .img-cloud-1.size-m {
  left: 8rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: .2;
}

#root .back .clouds .img-cloud-1.size-l {
  left: 2rem;
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  opacity: .2;
}

#root .back .clouds .img-cloud-2 {
  bottom: 0;
  width: 500px;
  height: 240px;
  position: absolute;
  background: url("../images/cloud_1.png");
  background-size: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#root .back .clouds .img-cloud-2.size-s {
  right: 10rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .3;
}

#root .back .clouds .img-cloud-2.size-l {
  bottom: 0rem;
  right: 5rem;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: .2;
}

#root .back .clouds .img-cloud-2.size-m {
  bottom: 0rem;
  right: -2rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .2;
}

#root .back .img-planet {
  position: absolute;
  opacity: .5;
  top: -10%;
  left: -10%;
  width: 700px;
  height: 700px;
  background-size: cover;
}

#root .back .stars {
  position: relative;
  z-index: 40;
}

#root .back .stars .star {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: white;
  position: fixed;
  -webkit-animation-name: particleAnimation;
          animation-name: particleAnimation;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#root .back .stars .star::before {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
}

#root .back .stars .star.s-1 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  left: 10%;
}

#root .back .stars .star.s-2 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  left: 60%;
}

#root .back .stars .star.s-3 {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  left: 90%;
}

#root .back .stars .star.s-4 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  left: 50%;
}

#root .back .stars .star.s-5 {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  left: 70%;
}

#root .back .stars .star.s-6 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  left: 40%;
}

#root .back .stars .star.s-7 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  left: 14%;
}

#root .back .stars .star.s-8 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  left: 78%;
}

#root .back .stars .star.s-9 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  left: 84%;
}

#root .back .stars .star.s-10 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  left: 21%;
}

#root .back .stars .star.s-11 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  left: 68%;
}

#root .back .stars .star.s-12 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  left: 48%;
}

@-webkit-keyframes particleAnimation {
  from {
    top: -100px;
  }
  to {
    top: calc( 100% + 100px);
  }
}

@keyframes particleAnimation {
  from {
    top: -100px;
  }
  to {
    top: calc( 100% + 100px);
  }
}

#root .goodbye {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#root .goodbye.on {
  opacity: 1;
}

#root .goodbye .cont-wrap * {
  color: white;
}

#root .goodbye .cont-wrap h3 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 3rem 1.5rem 3rem;
  border-radius: 100rem;
  background: #292564;
}

#root .goodbye .cont-wrap p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 70px 0 30px 0;
}

#root .goodbye .cont-wrap p:nth-of-type(2) {
  font-weight: 200;
  line-height: 1.5;
}
