/*
* {
    scroll-behavior: smooth;
}
*/

.intro{
    background-color: #525465;
    width: 100%;
    position: relative;
}
.img-box{
    background-image: url(../img/iphone.png);
    background-size: cover;
    width: 50%;
    height: 900px;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    
    transition: all 1.5s;
}
/* on을 줬다빼서 애니메이션 만들어보기*/
.img-box.on{
    background-image: url(../img/iphone.png);
    background-size: cover;
    width: 50%;
    height: 900px;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    
    transition: all 1.5s;
}