/* ---header,aside--- */
            header{
                right: 90%;
            }
            .header-pc{
                display: none;
            }
            .header-mobile{
                display: block;
            }
            .header-mobile .logo{
                position: absolute;
                left: 20px;
                top: 20px;
                
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

                transition: all .3s;
            }
            .header-mobile .logo a{
                display: block;
                background-image: url(../img/xowjddlsla.png);
                background-size: cover;
                width: 50px;
                height: 50px;

                text-indent: -999999px;
            }
            
            aside{
                left: 90%;
            }
            .aside-pc{
                display: none;
            }
            .aside-mobile{
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
                
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

                transition: all .3s;
            }
            .hamburger-btn{
                width: 100%;
                height: 100%;
            }
            .hamburger-icon{
                width: 70%;
                height: 10%;
                background-color: black;
                border-radius: 5px;
                margin: 22px auto;
                z-index: 999999;
                position: relative;
                
                transition: all .5s;
            }
            .hamburger-icon::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: black;
                border-radius: 5px;

                position: absolute;
                top: -200%;
                transition: all .5s;
            }
            .hamburger-icon::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: black;
                border-radius: 5px;

                position: absolute;
                bottom: -200%;
                transition: all .5s;
            }
            .hamburger-icon.on{
                width: 70%;
                height: 10%;
                background-color: white;
                border-radius: 5px;
                margin: 22px auto;
                z-index: 999999;
                position: relative;
                
                transform: rotate(45deg);
                transition: all .5s;
            }
            .hamburger-icon.on::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 5px;
                position: absolute;
                top: -200%;
                
                transform: rotate(90deg) translateX(10px);
                transition: all .5s;
            }
            .hamburger-icon.on::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 5px;

                position: absolute;
                bottom: -200%;
                opacity: 0;
                transition: all .5s;
            }
            .hamburger-menu{
                position: fixed;
                top: 0;
                left: 20%;
                right: 0;
                bottom: 0;
                background-color: #101010;
                box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
                padding: 50px 30px;
            }
            
            .mobile-menu li{
                padding: 30px 0 10px 0;
                border-bottom: 1px solid #2c2c2c;
            }
            .mobile-menu li a{
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1rem;
                font-weight: 200;
                letter-spacing: .5px;
                color: white;
            }
            .mobile-menu i{
                color: white;
                margin-right: 15px;
            }
            
            .mobile-info{
                position: absolute;
                bottom: 10%;
                width: 85%;
            }
            
            .m-address-list li{
                width: 100%;
                height: 50px;
                background-color: #262626;
                box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
                border-radius: 100px;

                margin-bottom: 20px;
            }
            .m-address-list a{
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                
                text-align: center;
                color: white;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1rem;
                font-weight: 300;
                line-height: 50px;
            }
            .m-address-list a i{
                color: white;
                position: absolute;
                left: 20px;
                top: 15px;
                font-size: 1.2rem;
            }
            .mobile-info .m-email{
                background-color: #262626;
                border: 1px solid #404040;
            }
            .mobile-info .m-email h4{
                color: white;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1.1rem;
                font-weight: 300;
                letter-spacing: 1px;
                text-align: center;
                line-height: 48px;
            }
            .mobile-update{
                position: absolute;
                bottom: 3%;
                width: 85%;
            }
            .mobile-update p{
                color: white;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1rem;
                font-weight: 400;
                line-height: 40px;
            }
            .mobile-update strong{
                color: white;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1.2rem;
                margin: 0 5px;
                font-weight: 900;
                line-height: 40px;
            }
            
            /* ---intro---- */
            .intro .scroll-box{
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .intro .phone-box{
                width: 90%;
                height: 60%;
            }
            .intro .typing-box p{
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
            }
            .title h3{
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0px;
            }
            .title h4{
                font-size: 3.5rem;
                font-weight: 600;
                line-height: 1.4;
            }
            .p_menu{
                display: block;
            }
            .p_menu li{
                display: block;
                border-radius: 10px;
            }
            .p_menu li+li{
                margin-left: 0px;
                margin-top: 10px;
            }
            
            /* ---portfolio--- */
            .portfolio{
                width: 100%;
                border: none;
                box-sizing: border-box;
            }
            .p_list li{
                height: 500px;
            }
            .p_list .page-pic{
                float: none;
                display: block;
                position: relative;
                width: 100%;
                height: 50%;
                margin-bottom: 15px;
            }
            .p_list .page-info{
                float: none;
                position: relative;
                display: block;
                width: 100%;
                height: 40%;
            }
            .p_list .page-info::before{
                content: '';
                display: inline-block;
                position: absolute;
                left: -20px;
                top: 20px;
                width: 5px;
                height: 60px;
                background-color: black;
            }
            .p_list .page-info p:nth-of-type(3){
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 0.7rem;
                color: black;
                line-height: 1.5;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            
            /* ---aboutMe--- */
            .aboutMe{
                width: 100%;
                box-sizing: border-box;
                border-radius: 10px;
            }
            .a_profile{
                display: block;
                width: 100%;
                margin-bottom: 15%;
            }
            .a_info{
                margin-left: 20px;
                display: block;
                width: 100%;
                padding: 0;
            }
            .myPic{
                height: 150px;
            }
            .myName{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5%;
                background-color: rgba(0,0,0,0.5);
            }