/* ---header,aside--- */
            .header-pc .logo a{
                background-image: url(../img/xowjddlsla.png);
                width: 80px;
                height: 80px;
                transition: all .2s;
            }
            .header-pc .logo a::after{
                margin-top: 60px;
            }
            .header-pc > p{
                display: none;
            }
            header{
                right: 90%;
            }
            aside{
                left: 90%;
            }
            .header-pc .menu{
                transform: scale(0.8);
                top: 30%;
            }
            .header-pc .site-info{
                bottom: 5%;
            }
            aside .contact-txt{
                transform: scale(0.8);
                top: 43%;
            }
            aside .address-list{
                bottom: 5%;
            }

            /* ---intro---- */
            .intro .scroll-box{
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .intro .phone-box{
                width: 55%;
                height: 60%;
            }
            .intro .typing-box p{
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 2.5rem;
                font-weight: 600;
                line-height: 1.5;
            }
            .title h3{
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .title h4{
                font-size: 5rem;
                font-weight: 600;
                line-height: 1.4;
            }
            .p_menu{
                display: block;
            }
            .p_menu li{
                display: block;
                border-radius: 10px;
            }
            .p_menu li+li{
                margin-left: 0px;
                margin-top: 10px;
            }

            
            /* ---tab menu btn--- */
            .p_menu{
                display: block;
            }
            .p_menu li{
                display: block;
                border-radius: 10px;
            }
            .p_menu li+li{
                margin-left: 0px;
                margin-top: 10px;
            }
            
            
            /* ---portfolio--- */
            .portfolio{
                padding: 50px 20%;
                width: 100%;
                border: none;
                box-sizing: border-box;
                margin-top: -25px;
            }
            .p_list li{
                height: 450px;
            }
            .p_list .page-pic{
                float: none;
                display: block;
                position: relative;
                width: 100%;
                height: 60%;
                margin-bottom: 15px;
            }
            .p_list .page-info{
                float: none;
                position: relative;
                display: block;
                width: 100%;
                height: 40%;
                padding-top: 5px;
            }
            .p_list .page-info::before{
                content: '';
                display: inline-block;
                position: absolute;
                left: -20px;
                top: 8px;
                width: 5px;
                height: 60px;
                background-color: black;
            }
            .p_list .page-info p:nth-of-type(3){
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 0.7rem;
                color: black;
                line-height: 1.5;
                position: absolute;
                bottom: 0;
                right: 0;
            }

            /* ---aboutMe--- */
            .aboutMe{
                width: 100%;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 50px 20%;
            }
            .a_profile{
                display: block;
                width: 100%;
                margin-bottom: 15%;
            }
            .a_info{
                margin-left: 20px;
                display: block;
                width: 100%;
                padding: 0;
            }
            .myPic{
                height: 150px;
            }
            .myName{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5%;
                background-color: rgba(0,0,0,0.5);
            }