.hidden{
    display: none;
    line-height: 0;
    font-size: 0;
}

/*header*/
/*header - gnb-sub */

.gnb-sub-item>a{
    font-size: 0.8rem;
    color: #222;
    font-weight: 200;
}
.gnb-social>a{
    font-size: 0.8rem;
}

/*header - gnb-main */

.nav-item .nav-strong{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    color: #222;
    font-weight: 600;
}

.nav-search>a{
    font-size: 1rem;
    color: grey;
}
.nav-item>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    color: grey;
    font-weight: 300;
}




/*contents*/
/*contents - banner */
.bn-tit-txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: #222;
    font-weight: 600;
    margin-bottom: 30px;
}

.bn-info-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    line-height: 1.3rem;
    
    margin-bottom: 10px;
}

.bn-sub-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #444;
    line-height: 1.5rem;
    text-align: justify;
    
    margin-bottom: 10px;
}
.bn-sub-txt::after{
    content: '';
    display: block;
    margin-top: 20px;
    width: 15px;
    height: 1px;
    background-color: black;
}

.cont-tit-txt {
     font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    color: #222;
    font-weight: 600;
}

.fig-tit-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #222;
    font-weight: 300;
    line-height: 1.5;
    
    margin-bottom: 20px;
    
}

.fig-sub-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    color: #444;
    font-weight: 300;
    line-height: 1.4;
    position: absolute;
    bottom: 10px;;
    left: 50%;
    transform: translateX(-50%);
}

.continue-txt {
     font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #444;
    font-weight: 300;
}

.insta-txt {
     font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    color: orange;
    font-weight: 600;
    line-height: 2;
}

.bold {
    font-weight: 800;
    margin-right: 5px;
}
