.header-wrap{
    background-color: #474751;
    height: 40px;
    box-sizing: border-box;
}


/*header - 1*/
header .logo-box{
    height: 100%;
    margin-right: 60px;
    display: inline-block;
    padding: 0 20px;
}
header .logo-box a{
    color: white;
    line-height: 40px;
}


/*header - 2*/
header .menu-box{
    display: inline-block;
}
header .menu-box li{
    display: inline-block;
    margin-right: 20px;
}
header .menu-box li a{
    color: white;
    line-height: 40px;
    font-size: 0.9rem;
}
header a,header li a:hover{
    color: orange;
}


/*header - 3*/
header .profile-box{
    display: inline-block;
    float: right;
    background-color: #3d3d46;
    box-sizing: border-box;
    height: 100%;
    width: 180px;
    padding: 0 20px;
    
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header .profile-box .nameHere{
    display: table;
    height: 100%;
}
header .profile-box .nameHere p{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
header .profile-box .outHere{
    display: table;
    height: 100%;
}
header .profile-box .outHere a{
    font-size: 0;
    display: table-cell;
    vertical-align: middle;
}
header .profile-box .outHere i{
    font-size: 1rem;
    color: white;
}



















