.header-wrap{
    background-color: gray;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
}
header .logo-box{
    border: 1px solid red;
    height: 100%;
    margin-right: 60px;
}
header .logo-box a{
    color: white;
    line-height: 40px;
    width: 100px;
    text-align: center;
    display: block;
}
header .menu-box{
    
}
header .menu-box li{
    border: 1px solid red;
    display: inline-block;
    margin-right: 20px;
}
header .menu-box li a{
    color: white;
    line-height: 40px;
}
header a,header li a:hover{
    color: orange;
}