.pc{
/*    display: none;*/
}
.mobile{
/*    display: none;*/
}

header{
    z-index: 100;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s;
    /*바로 위 부모가 아니라 높이와 넓이값을 가진 애 영역 안에서 움직여야 하니까 얘가 렐러티브가 됨*/
}



/* 배너색상에 따른동작 */

header.fixOff{
    background-color: transparent;
    transition: all .3s;
}
.logo>h1>a.on{
    filter: invert();
}
.gnb-item>a>span.on{
    filter: invert();
}
.gnb-item>a.on{
    color: white;
}
.lang>a.on{
    color: white;
}

header.fixOn{
    background-color: white;
    transition: all .3s;
}
header.fixOn .header-pc{
    border-bottom: 1px solid #eee;
    transition: all .3s;
    box-sizing: border-box;
    z-index: 9999999;
}
.logo>h1>a.off{
    filter: none;
}
.gnb-item>a>span.off{
    filter: none;
}
.gnb-item>a.off{
    color: black;
}
.lang>a.off{
    color: black;
}



.header-pc{
    z-index: 9999;
    margin: 0 auto;
    min-width: 1300px;
    max-width: 1920px;
    height: 80px;
}
.header-pc>.root{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb-item>a{
    color: white;
}
.gnb-item>a.on{
    color: black;
}
.logo{
    padding-left: 80px;
}
.logo>h1>a{
    background-image: url(../img/logo_kakao.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 25px;
    text-indent: -999999px;
    display: block;
/*    a는 인라인 요소니까 꼭 블록을 써줘라*/
}
.gnb-list{
    display: flex;
}
.gnb-list>li{
    margin-left: 20px;
}
.gnb-item>a.on{
    color: white;
}
.gnb a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.gnb-item>a>span{
    content: '';
    display: inline-block;
    background-image: url(../img/ico_corp_181031.png);
    background-position: -153px 0px;
    vertical-align: middle;
    margin-left: 3px;
    width: 22px;
    height: 15px;
}
.lang{
    padding-right: 80px;
}
.lang > a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    opacity: 0.7;
    margin-left: 5px;
    color: white;
}
.lang > a.on{
    color: white;
}
.lang > a.selected{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    opacity: 1;
}


/* hidden-menu 부분*/
.hidden-menu{
    display: none;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}
.hidden-menu>ul{
    min-width: 1080px;
    width: 1080px;
    margin: 0 auto;
    
    display: table;
    table-layout: fixed;
}
.hidden-menu>ul>li{
    display: table-cell;
    text-align: center;
    padding: 50px 0;
    vertical-align: top;
    border-right: 1px solid #eee;
}
.hidden-menu>ul>li:last-child{
    border-right: 1px solid #eee;
}
.hidden-menu>li>a{

}






