#contents{
}

/*--Main banner slide--*/
/*ul*/
.slide-list{
    margin-top: -80px;
    left: 0;
    right: 0;
}
/*li*/
.slide-list li{
    
    height: 38rem;
/*    height: 38rem !important;*/
}
.slide-1{
    background-image: url(../img/banner_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-2{
    background-image: url(../img/banner_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-3{
    background-image: url(../img/banner_4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-4{
    background-image: url(../img/banner_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-1 h2,.slide-3 h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 30px;
}
.slide-2 h2,.slide-4 h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
    margin-bottom: 30px;
}

.page{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.6rem;
    letter-spacing: 3px;
    
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.page.wh{
    color: white;
}
.banner-cont-box{
    
    min-width: 1300px;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
    
    padding-top: 180px;
    padding-left: 80px;
}
.banner-cont-box>h2{
    
}

.banner-cont-box a{
    display: block;
    background-color: #fff;
    width: 100px;
    height: 30px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 30px;
    padding-left: 10px;
}

.banner-cont-box a::after{
    content: '';
    display: inline-block;
    background-image: url(../img/ico_corp_181031.png);
    background-position: -112px -65px;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

.slick_prev{
    z-index: 150;
    border: none;
    background-color:black;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/ico_corp_181031.png);
    background-repeat: no-repeat;
    background-position: -155px -110px;
    text-indent: 99999999px;
}
.slick_next{
    z-index: 150;
    border: none;
    background-color:black;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/ico_corp_181031.png);
    background-repeat: no-repeat;
    background-position: -205px -110px;
    text-indent: 99999999px;
}








/*--Main Isuue items--*/

.main-isuue {
    border: 0px solid red;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 80px;
    min-width: 1300px;
    max-width: 1920px;
}
/*ul*/
.issue-row {
    width: 100%;
}
.issue-row::after{
    content: '';
    display: block;
    clear: both;
}
/*li*/
.issue-item {
    float: left;
/* 1080px / 340px */
    width: 31.48148148148148%;
    border: 0px solid blue;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.issue-item+.issue-item{
/* 1080px / 30px */
    margin-left: 2.777777777777778%
}

.issue-item h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.issue-item h5{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 20px 0 10px 0;
}
.issue-item p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    color: #909090;
    font-size: 0.8rem;
    line-height: 1.4;
}
.issue-item>h3{
    display: inline-block;
    
    margin: 50px 20px 30px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 2rem;
}
.issue-item>.triangle{
    display: inline-block;
    margin-right: 10px;
    
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid red;
}
.issue-item>span{
    display: inline-block;
    
    margin: 50px 20px 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: red;
    font-size: 1.2rem;
}

.issue-img{
    position: relative;
    margin-bottom: 30px;
}
.issue-img>img{
    width: 100%;
}
.issue-img>h4{
    position: absolute;
    top: 20px;
    left: 20px;
}





























